# SSH server configuration
# Port 22 is the default, so we don't need to specify it

# Security
KbdInteractiveAuthentication no
PasswordAuthentication yes
PermitRootLogin no
UsePAM yes

# Features
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*
